.song-title {
    font-size: 18;
    letter-spacing: 0.2px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
}

.time-line {
    width: 100%;
    padding: 0 30;
    height: 2;
    border-top-color: rgba(180, 180, 180, 0.5);
    border-top-width: 2;
}

.time-passed {
    width: 60;
    padding: 0 30;
    height: 2;
    border-top-color: rgba(255, 255, 255, 1);
    border-top-width: 2;
}

.time-indicator {
    width: 18;
    height: 18;
    border-radius: 10;
    background-color: #fff;
    margin-left: 60;
}


/* .window {
    background-image: url("~/img/playerbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */

.border-b {
    border-bottom-width: 1px;
    border-bottom-color: #fff;
    margin: 0 15;
    opacity: 0.3;
}

.bt1 {
    background-image: url("~/img/B1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bt2 {
    background-image: url("~/img/B2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bt3 {
    background-image: url("~/img/B3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.song-title {
    font-size: 18;
    letter-spacing: 0.2px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
}

.time-line {
    width: 100%;
    padding: 0 30;
    height: 2;
    border-top-color: rgba(180, 180, 180, 0.5);
    border-top-width: 2;
}

.time-passed {
    width: 60;
    padding: 0 30;
    height: 2;
    border-top-color: rgba(255, 255, 255, 1);
    border-top-width: 2;
}

.time-indicator {
    width: 18;
    height: 18;
    border-radius: 10;
    background-color: #fff;
    margin-left: 60;
}

.window {
    /* border-top-right-radius: 15;
    border-top-left-radius: 15; */
    background-image: url("~/img/playerbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.border-b {
    border-bottom-width: 1px;
    border-bottom-color: #fff;
    margin: 0 15;
    opacity: 0.3;
}

.bt1 {
    background-image: url("~/img/B1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bt2 {
    background-image: url("~/img/B2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bt3 {
    background-image: url("~/img/B3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.page-header {
    margin: 30;
    border: 1;
    border-color: blue;
}

.genres-list {
    margin-top: 20;
    margin-left: 20;
    border: 1 solid black;
}

.genre-window {
    background-color: rgb(218, 226, 141);
    border-color: blue;
    border-width: 5;
}

.header {
    background-color: #FCFCFF;
    margin-top: 20;
    border-color: green;
    border-width: 5;
}
